
/* importando o global */
@import url('./global.css'); 

body {
    background-color: white;
    /* usando a variável global no bg */
    /* background-color: var(--variable-example); */
}

.hero {
    background: url(../assets/img/illustration.svg);
    margin-top: 50px;
    margin-bottom: 0;
    background-repeat: repeat-y;
    background-position: right;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
    @media (max-width:779px) {
        .hero {
        background-repeat: no-repeat;
        background-position: top;
        }

    }
    /* Altera a cor dos ícones dos botões do carrossel para preto */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(0) invert(0); /* Transforma o ícone em preto */
}
/* brightness(0) define o brilho do ícone para 0, tornando-o preto.

invert(0) garante que o ícone não seja invertido. */